/* FontAwesome Icons */
@font-face {
    font-family: 'FontAwesome';
    src: url(../webfonts/fa-brands-400.ttf) format('usertype') ,
    url(../webfonts/fa-brands-400.woff2) format('woff2');
    font-weight: brands;
}

@font-face {
    font-family: 'FontAwesome';
    src: url(../webfonts/fa-regular-400.ttf) format('usertype') ,
    url(../webfonts/fa-regular-400.woff2) format('woff2');
    font-weight: regular;
}
@font-face {
    font-family: 'FontAwesome';
    src: url(../webfonts/fa-solid-900.ttf) format('usertype') ,
    url(../webfonts/fa-solid-900.woff2) format('woff2');
    font-weight: solid;
}
@font-face {
    font-family: 'FontAwesome';
    src: url(../webfonts/fa-v4compatibility.ttf) format('usertype') ,
    url(../webfonts/fa-v4compatibility.woff2) format('woff2');
    font-weight: compatibility;
}

/* main codes */

*{
    margin: 0;
    padding: 0;
}
body
{
    direction: ltr;
    background: linear-gradient(to right,rgb(80, 80, 80),rgb(250, 250, 250));
}
#main
{
    max-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content:flex-start ;
    align-items:center;
}
#main div
{
    width: 45%;
}
#round
{
    margin-top: 60px;
    text-align:center;
    height: 340px;
}
#round img
{
    display:none;/* look at this */
    width: 30%;
    height: 95%;
    border-style: solid;
    border-width: 4px;
    border-color: dimgrey;
    border-radius: 4px;
}
#select
{
    height: 160px;
    margin-top: 0px;
    text-align: center;
}
#select img
{
    display:none;/* look at this */
    width:65px;
    margin-top:20px;
    margin-left: 3px;
    margin-right: 3px;
    border-style: solid;
    border-width: 4px;
    border-color: dimgrey;
    border-radius: 100px;
    cursor:pointer;
}
#select span
{
    font-size: 27px;
    font-weight: bold;
    letter-spacing: 1px;
    color: rgb(46, 0, 0);
}
#startMassage
{
    display: inline;
    font-family: "roboto slab","arial",sans-serif;
    font-size: 23px !important;
}
#repeatMassage
{
    display: none;
    font-family: "roboto slab","arial",sans-serif;  
    font-size: 23px !important;
}
#winMassage
{
    display: none;
    font-family: "roboto slab","arial",sans-serif;
    color: rgb(19, 133, 19) !important;
}
#loseMassage
{
    display: none;
    font-family: "roboto slab","arial",sans-serif;
    color: rgb(173, 14, 14) !important;
}
#start
{
    height: 80px;
    margin-top: 10px;
    text-align: center;
    padding-top: 0px;  
}
#startButton
{
    width: 23%;
    height: 45px;
    padding-top: 7px;
    background-color: rgb(0, 255, 255);
    color: rgb(46, 0, 0);
    font-family: "Roboto Slab" , arial , sans-serif;
    font-size: 26px;
    font-weight: bold;
    border-style: solid;
    border-width: 4px;
    border-color: dimgrey;
    border-radius: 20px;
    cursor:default;
}


/*#############################################################################
##############################################################################*/
@media screen and (max-width:480px)
{   
    *{
        margin: 0;
        padding: 0;
    }
    body
    {
        direction: ltr;
        background: linear-gradient(to right,rgb(80, 80, 80),rgb(175, 175, 175));
    }
    #main
    {
        max-width: 100%;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content:flex-start ;
        align-items:center;
    }
    #main div
    {
        width: 100%;
    }
    #round
    {
        margin-top: 75px;
        text-align:center;
        height: 340px;
    }
    #round img
    {
        display:none;/* look at this */
        width: 60%;
        height: 95%;
        border-style: solid;
        border-width: 2px;
        border-color: dimgrey;
        border-radius: 2px;
    }
    #select
    {
        height: 150px;
        margin-top: 0px;
        text-align: center;
    }
    #select img
    {
        display:none;/* look at this */
        width:58px;
        margin-top:20px;
        margin-left: 3px;
        margin-right: 3px;
        border-style: solid;
        border-width: 3px;
        border-color: dimgrey;
        border-radius: 100px;
        cursor:pointer;
    }
    #select span
    {
        font-size: 25px;
        font-weight: bold;
        font-family: "roboto slab",arial,sans-serif;
        letter-spacing: 1px;
        color: rgb(46, 0, 0);
    }
    #startMassage
    {
        display: inline;
        font-family: "roboto slab","arial",sans-serif;
        font-size: 22px !important;
    }
    #repeatMassage
    {
        display: none;
        font-family: "roboto slab","arial",sans-serif;  
        font-size: 22px !important;
    }
    #winMassage
    {
        display: none;
        font-family: "roboto slab","arial",sans-serif;
        color: rgb(32, 255, 32) !important;
    }
    #loseMassage
    {
        display: none;
        font-family: "roboto slab","arial",sans-serif;
        color: rgb(255, 0, 51) !important;
    }
    #start
    {
        height: 60px;
        margin-top: 20px;
        text-align: center;
        padding-top: 0px;  
    }
    #startButton
    {
        width: 42%;
        height: 43px;
        padding-top:7px;
        text-align: center;
        background-color: rgb(0, 255, 255);
        color: rgb(46, 0, 0);
        font-family: "Roboto Slab" , arial , sans-serif;
        font-size: 24px;
        border-style: solid;
        border-width: 4px;
        border-color: rgb(63, 63, 63);
        border-radius: 30px;
    }   
}