/* FontAwesome Icons */
@font-face {
    font-family: 'FontAwesome';
    src: url(../webfonts/fa-brands-400.ttf) format('usertype') ,
    url(../webfonts/fa-brands-400.woff2) format('woff2');
    font-weight: brands;
}
@font-face {
    font-family: 'FontAwesome';
    src: url(../webfonts/fa-regular-400.ttf) format('usertype') ,
    url(../webfonts/fa-regular-400.woff2) format('woff2');
    font-weight: regular;
}
@font-face {
    font-family: 'FontAwesome';
    src: url(../webfonts/fa-solid-900.ttf) format('usertype') ,
    url(../webfonts/fa-solid-900.woff2) format('woff2');
    font-weight: solid;
}
@font-face {
    font-family: 'FontAwesome';
    src: url(../webfonts/fa-v4compatibility.ttf) format('usertype') ,
    url(../webfonts/fa-v4compatibility.woff2) format('woff2');
    font-weight: compatibility;
}

/* main codes */

*{
    margin: 0;
    padding: 0;
}
body
{
    direction: ltr;
    background: url('../images/background.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.mask
{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    min-height: 100vh;
    background: rgba(215, 215, 215, 0.3);
    z-index: 2;
}
.maskContainer
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 130px;
}
.maskTop
{
    width: 56%;
    align-content: center;
    direction: rtl;
}
.maskButton
{
    width: 30px;
    height: 30px;
    background: rgb(63, 63, 63) ;
    color: white;
    font-size: 20px;
    font-weight: 900;
    border: none;
    border-radius: 20%;
}
.maskButton:hover
{
    transform: scale(0.9);
    transition: 0.1s;
    font-size: 21px;
    background: rgb(63, 63, 63) ;
    color: rgb(211, 60, 60);
    cursor: pointer;
}
.maskBottom
{
    width: 50%;
    margin-top: 8px;
    padding: 50px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(to right , rgb(37, 37, 37) , rgb(61, 61, 61));
    
}
.maskBottom span
{
    color: rgb(255, 255, 255);
    font-family: "roboto slab","arial",sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.9;
}
#main
{
    max-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content:flex-start ;
    align-items:center;
    z-index: 1;
}
#main div
{
    width: 45%;
}
#title
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
}
h1
{
    color: orange;
    font-size: 38px;
    font-family: "roboto slab","arial",sans-serif;
}
h1 i
{
    transform: rotateZ(180deg);
    transform: rotateY(180deg);
    font-size: 34px;
}
#title span
{
    color: orange;
    font-size: smaller;
    font-family: "roboto slab","arial",sans-serif;
}
#round
{
    margin-top: 30px;
    text-align:center;
    height: 330px;
}
#round img
{
    display:none;/* look at this */
    width: 30%;
    height: 95%;
    border-style: solid;
    border-width: 3px;
    border-color: dimgrey;
    border-radius: 4px;
}
#select
{
    height: 125px;
    margin-top: 0px;
    text-align: center;
}
#select img
{
    display:none;/* look at this */
    width:56px;
    margin-top:10px;
    margin-left: 3px;
    margin-right: 3px;
    border-style: solid;
    border-width: 3px;
    border-color: dimgrey;
    border-radius: 100px;
    cursor:pointer;
}
#select span
{
    font-size: 27px;
    font-weight: bold;
    letter-spacing: 1px;
    color: orange;
}
#startMassage
{
    display: inline;
    font-family: "roboto slab","arial",sans-serif;
    font-size: 20px !important;
}
#repeatMassage
{
    display: none;
    font-family: "roboto slab","arial",sans-serif;  
    font-size: 20px !important;
}
#winMassage
{
    display: none;
    font-family: "roboto slab","arial",sans-serif;
    color: rgb(0, 255, 0) !important;
}
#loseMassage
{
    display: none;
    font-family: "roboto slab","arial",sans-serif;
    color: rgb(255, 16, 16) !important;
}
#start
{
    height: 80px;
    margin-top: 0px;
    text-align: center;
    padding-top: 0px;  
}
#startButton
{
    width: 20%;
    height: 40px;
    padding-top: 4px;
    background-color: orange;
    color: rgb(46, 0, 0);
    font-family: "Roboto Slab" , arial , sans-serif;
    font-size: 23px;
    font-weight: bold;
    border-style: solid;
    border-width: 3px;
    border-color: dimgrey;
    border-radius: 40px;
    cursor:default;
}

/*#############################################################################
##############################################################################*/

@media screen and (max-width:480px)
{   
    *{
        margin: 0;
        padding: 0;
    }
    body
    {
        direction: ltr;
        background-image: url('../images/background.jpg');
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .mask
    {
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 2;
        width: 100%;
        min-height: 100vh;
        background: rgba(33, 33, 33, 0.9);
    }
    .maskContainer
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 120px;
    }
    .maskTop
    {
        width: 90%;
        align-content: center;
        direction: rtl;
    }
    .maskButton
    {
        width: 25px;
        height: 25px;
        padding-top: 1px;
        background: rgb(63, 63, 63);
        color: white;
        font-size: 15px;
        font-weight: 900;
        border: none;
        border-radius: 20%;
    }
    .maskButton:hover
    {
        transform: scale(1);
        font-size: 15px;
        background: rgb(63, 63, 63);
        color: white;
    }
    .maskBottom
    {
        width: 80%;
        margin-top: 5px;
        padding: 20px;
        border: none;
        border-radius: 5px;
        background: linear-gradient(to right , rgb(37, 37, 37) , rgb(61, 61, 61));
        
    }
    .maskBottom span
    {
        color: rgb(255, 255, 255);
        font-family: "roboto slab","arial",sans-serif;
        font-size: 12px;
        font-weight: 300;
        line-height: 1.9;
    }
    #main
    {
        max-width: 100%;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content:flex-start ;
        align-items:center;
        z-index: 1;
    }
    #main div
    {
        width: 100%;
    }
    #title
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 28px;
    }
    h1
    {
        color: orange;
        font-size: 28px;
        font-family: "roboto slab","arial",sans-serif;
    }
    h1 i
    {
        transform: rotateZ(180deg);
        transform: rotateY(180deg);
        font-size: 24px;
    }
    #title span
    {
        color: orange;
        font-size: 11px;
        font-family: "roboto slab","arial",sans-serif;
    }
    #round
    {
        margin-top: 22px;
        text-align:center;
        height: 330px;
    }
    #round img
    {
        display:none;/* look at this */
        width: 53%;
        height: 95%;
        border-style: solid;
        border-width: 3px;
        border-color: dimgrey;
        border-radius: 4px;
    }
    #select
    {
        height: 118px;
        margin-top: 0px;
        text-align: center;
    }
    #select img
    {
        display:none;/* look at this */
        width:50px;
        margin-top:10px;
        margin-left: 3px;
        margin-right: 3px;
        border-style: solid;
        border-width: 3px;
        border-color: dimgrey;
        border-radius: 100px;
        cursor:pointer;
    }
    #select span
    {
        font-size: 22px;
        font-weight: bold;
        letter-spacing: 1px;
        color: orange;
    }
    #startMassage
    {
        display: inline;
        font-family: "roboto slab","arial",sans-serif;
        font-size: 17px !important;
    }
    #repeatMassage
    {
        display: none;
        font-family: "roboto slab","arial",sans-serif;  
        font-size: 17px !important;
    }
    #winMassage
    {
        display: none;
        font-family: "roboto slab","arial",sans-serif;
        color: rgb(0, 255, 0) !important;
    }
    #loseMassage
    {
        display: none;
        font-family: "roboto slab","arial",sans-serif;
        color: rgb(255, 16, 16) !important;
    }
    #start
    {
        height: 80px;
        margin-top: 0px;
        text-align: center;
        padding-top: 0px;  
    }
    #startButton
    {
        width: 42%;
        height: 42px;
        padding-top: 4px;
        background-color: orange;
        color: rgb(46, 0, 0);
        font-family: "Roboto Slab" , arial , sans-serif;
        font-size: 24px;
        font-weight: bold;
        border-style: solid;
        border-width: 3px;
        border-color: dimgrey;
        border-radius: 40px;
        cursor:default;
    }   
}