body
{
    margin: 0px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
#main
{
    max-width: 100%;
    min-height: 750px;
    display: flex;
    flex-direction: column;
    justify-content:flex-start ;
    align-items:center;
    background-color: rgb(37, 37, 37);
}
#main div
{
    width: 45%;
}
#massage
{
    height: 65px;
    margin-top: 20px;
    text-align: center;
    padding-top: 35px;
}
#massage span
{
    display: none;
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 1px;
    color: paleturquoise;
}
#startMassage
{
    font-family: "roboto slab","arial",sans-serif;
}
#round
{
    margin-top: 10px;
    text-align:center;
    height: 340px;
}
#round img
{
    display:none;
    width: 30%;
    height: 95%;
    border-style: solid;
    border-width: 4px;
    border-color: lightcyan;
    border-radius: 4px;
}
#select
{
    height: 120px;
    margin-top: 0px;
    text-align: center;
}
#select img
{
    width:65px;
    margin-top:20px;
    margin-left: 3px;
    margin-right: 3px;
    border-style: solid;
    border-width: 4px;
    border-color: paleturquoise;
    border-radius: 100px;
    cursor:pointer;
}
#start
{
    height: 80px;
    margin-top: 0px;
    text-align: center;
    padding-top: 0px;  
}
#startButton
{
    display: inline-block;
    width: 27%;
    height: 50px;
    padding-top:5px;
    text-align: center;
    background-color: snow;
    color: rgb(36, 57, 57);
    font-family: "Roboto Slab" , arial , sans-serif;
    font-size: 30px;
    font-weight: bold;
    border-style: solid;
    border-width: 4px;
    border-color: paleturquoise;
    border-radius: 20px;
    cursor:default;
}


/*#############################################################################
##############################################################################*/
@media screen and (max-width:480px)
{
    body
    {
        margin: 0px;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
    }
    #main
    {
        max-width: 100%;
        min-height: 750px;
        display: flex;
        flex-direction: column;
        justify-content:flex-start ;
        align-items:center;
        background-color: rgb(37, 37, 37);
    }
    #main div
    {
        width: 100%;
    }
    #massage
    {
        height: 70px;
        margin-top: 30px;
        text-align: center;
        padding-top: 50px;
    }
    #massage span
    {
        display: none;
        font-size: 26px;
        color: paleturquoise;
    }
    #startMassage
    {
        font-family: "roboto slab","arial",sans-serif;
    }
    #round
    {
        margin-top: 0px;
        text-align:center;
        height: 290px;
    }
    #round img
    {
        display:none;
        width: 60%;
        height: 100%;
        border-style: solid;
        border-width: 4px;
        border-color: lightcyan;
        border-radius: 3px;
    }
    #select
    {
        height: 85px;
        margin-top: 30px;
        text-align: center;
    }
    #select img
    {
        width:60px;
        margin-top:0px;
        margin-left: 2px;
        margin-right: 2px;
        border-style: solid;
        border-width: 3px;
        border-color: paleturquoise;
        border-radius: 100px;
        cursor:pointer;
    }
    #start
    {
        height: 80px;
        margin-top: 10px;
        text-align: center;
        padding-top: 0px;  
    }
    #startButton
    {
        display: inline-block;
        width: 35%;
        height: 40px;
        padding-top:5px;
        text-align: center;
        background-color: snow;
        color: rgb(36, 57, 57);
        font-family: "Roboto Slab" , arial , sans-serif;
        font-size: 23px;
        font-weight: bold;
        border-style: solid;
        border-width: 3px;
        border-color: paleturquoise;
        border-radius: 20px;
    }   
}