body
{
    margin: 0px;
    background-color: rgb(25, 25, 25);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
#main
{
    max-width: 100%;
    min-height: 750px;
    display: flex;
    flex-direction: column;
    justify-content:flex-start ;
    align-items:center;
}
#main div
{
    width: 45%;
}
#round
{
    margin-top: 60px;
    text-align:center;
    height: 340px;
}
#round img
{
    display:none;/* look at this */
    width: 30%;
    height: 95%;
    border-style: solid;
    border-width: 4px;
    border-color: dimgrey;
    border-radius: 4px;
}
#select
{
    height: 160px;
    margin-top: 0px;
    text-align: center;
}
#select img
{
    display:none;/* look at this */
    width:65px;
    margin-top:20px;
    margin-left: 3px;
    margin-right: 3px;
    border-style: solid;
    border-width: 4px;
    border-color: dimgrey;
    border-radius: 100px;
    cursor:pointer;
}
#select span
{
    font-size: 27px;
    font-weight: bold;
    letter-spacing: 1px;
    color: rgb(0, 255, 255);
}
#startMassage
{
    display: inline;
    font-family: "roboto slab","arial",sans-serif;
    font-size: 23px !important;
}
#repeatMassage
{
    display: none;
    font-family: "roboto slab","arial",sans-serif;  
    font-size: 23px !important;
}
#winMassage
{
    display: none;
    color: green !important;
}
#loseMassage
{
    display: none;
    color: red !important;
}
#start
{
    height: 80px;
    margin-top: 10px;
    text-align: center;
    padding-top: 0px;  
}
#startButton
{
    width: 23%;
    height: 45px;
    padding-top:12px;
    text-align: center;
    background-color: rgb(0, 255, 255);
    color: black;
    font-family: "Roboto Slab" , arial , sans-serif;
    font-size: 26px;
    font-weight: bold;
    border-style: solid;
    border-width: 4px;
    border-color: dimgrey;
    border-radius: 20px;
    cursor:default;
}


/*#############################################################################
##############################################################################*/
@media screen and (max-width:480px)
{
    body
    {
        margin: 0px;
        background-color: rgb(25, 25, 25);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
    }
    #main
    {
        max-width: 100%;
        min-height: 750px;
        display: flex;
        flex-direction: column;
        justify-content:flex-start ;
        align-items:center;
    }
    #main div
    {
        width: 100%;
    }
    #round
    {
        margin-top: 75px;
        text-align:center;
        height: 340px;
    }
    #round img
    {
        display:none;/* look at this */
        width: 60%;
        height: 95%;
        border-style: solid;
        border-width: 2px;
        border-color: dimgrey;
        border-radius: 2px;
    }
    #select
    {
        height: 150px;
        margin-top: 0px;
        text-align: center;
    }
    #select img
    {
        display:none;/* look at this */
        width:58px;
        margin-top:20px;
        margin-left: 3px;
        margin-right: 3px;
        border-style: solid;
        border-width: 3px;
        border-color: dimgrey;
        border-radius: 100px;
        cursor:pointer;
    }
    #select span
    {
        font-size: 25px;
        font-weight: bold;
        letter-spacing: 1px;
        color: rgb(0, 255, 255);
    }
    #startMassage
    {
        display: inline;
        font-family: "roboto slab","arial",sans-serif;
        font-size: 22px !important;
    }
    #repeatMassage
    {
        display: none;
        font-family: "roboto slab","arial",sans-serif;  
        font-size: 22px !important;
    }
    #winMassage
    {
        display: none;
        color: green !important;
    }
    #loseMassage
    {
        display: none;
        color: red !important;
    }
    #start
    {
        height: 60px;
        margin-top: 20px;
        text-align: center;
        padding-top: 0px;  
    }
    #startButton
    {
        width: 42%;
        height: 43px;
        padding-top:2px;
        text-align: center;
        background-color: rgb(0, 255, 255);
        color: black;
        font-family: "Roboto Slab" , arial , sans-serif;
        font-size: 26px;
        border-style: solid;
        border-width: 4px;
        border-color: dimgrey;
        border-radius: 9px;
    }   
}